/*@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;1,0,600;0,700;1,600,0,100,0,500;0,600;0,700;0,800;1,600;1,700;1,800&display=swap');*/
/*
0A2647 144272 205295 2C74B3
6096B4 93BFCF BDCDD6 EEE9DA
F6F1F1 19A7CE 146C94 000000
A0DDFF 758ECD C1CEFE 7189FF 624CAB
*/
.bars {
    position: absolute;
    opacity: 0;
    right: 20px;
    color: white;
    top: 20px;
}

body {
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-style: italic;
}
.double{
    border-top: 3px double;
    border-bottom: none;
}

.mapa-tecnica {
    display: flex;
    margin: 0 auto;
}

.seccion-contacto {
    margin-top: 10px;
    color: white;
    padding: 10px;
    border-radius: 10px;
    overflow: hidden;
}

.seccion-contacto .contacto-facebook {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    margin-bottom: 10px;
}

.seccion-contacto .contacto-facebook p:last-of-type {
    font-size: 24px;
}

.seccion-contacto .contacto-facebook p:last-of-type a i {
    font-size: 24px;
}

.w-100 {
    max-width: 75%;
}

.footer {
    max-width: 100%;
    margin-top: 10px;
    padding-bottom: 20px;
    overflow: hidden;
}
.main{
    margin-top: 10px;
}

.carousel-inner {
    background-color: #96c7fc;
}

@media(max-width: 768px) {
    .imgCarousel {
        width: 100%;
        z-index: 0;
    }
}

.header {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
}
.carousel {
    width: 100%;
    max-width: 1600px;
    height: 1000px;
    position: relative;
    overflow: hidden;
}

.carousel .item {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-size: auto;
    background-position: center;
    position: absolute;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.carousel .active {
    opacity: 1;
}

.carousel .next,
.carousel .prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.carousel .next:hover,
.carousel .prev:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.carousel .next {
    right: 10px;
}
tr td{
    margin: 10px;
    font-size: 16px;
}
tr th{
    font-style: normal;
    font-weight: bold;
}

.carousel .prev {
    left: 10px;
}

.nav ul {
    display: flex;
    margin-left: auto;
    margin-top: 30px;
    margin-right: 50px;
}

.nav ul li {
    margin-left: 20px;
    list-style: none;
    text-decoration: none;
}

.nav ul li a {
    color: white;
    font-size: 27px;
    text-shadow: black 5px 5px 5px 5px;
    text-decoration: none;
    text-transform: capitalize;
}
.logo-tecnica {
    transition: 0.3s;
    width: 100px;
    margin-left: 20px;
    margin-top: 20px;
}

@media(max-width:768px) {
    .header .nav ul {
        position: absolute;
        top: 0;
        flex-direction: column;
        transform: translateX(-100%);
        transition: 1s;
        margin-top: 15px;
    }

    .bars {
        opacity: 1;
    }

    .header .open ul {
        transform: translateX(-40px);
    }

    .borrar {
        opacity: 0;
    }

}

.imagenTarjeta {
    width: 75%;
    border-radius: 20px;
}

.niveles-container {
    margin-top: 20px;
}

.niveles-container div p {
    margin-left: auto;
    margin-right: auto;
    width: 75%;

}
.w-completo{
    width: 100%;
}
.container-informatica{
    overflow-x:scroll;
}
main{
    overflow: hidden;
}
.div-principal-Niveles {
    margin-top: 20px;
}
.div-principal-Niveles h2,h3{
    font-weight: 400;
}
.div-principal-Niveles .niveles-niveles{
    margin: 40px 0;
}
.div-principal-Niveles .niveles-niveles h2{
    width: 100%;
    background-color: #00152b;
    color: white;
    max-width: 400px;
    border-radius: 30px;
    padding: 10px;
    font-size: 36px;
    margin: 0 auto;
}
.div-principal-Niveles .niveles-niveles h2::before, .div-principal-Niveles .niveles-niveles h2::after{
    content: '';
    position: absolute;
    max-width: 500px;
    width: 100%;
    height: 3px;
    background-color: #00152b;
    top: 0.85em;
}
.div-principal-Niveles .niveles-niveles h2::before{
    left: -380px;
}
.div-principal-Niveles .niveles-niveles h2::after{
    right: -380px;
}
.div-principal-Niveles h3{
    margin-top: 15px;
}
.una {
    transition: 1s;
}
td{
    list-style: circle;
    border: solid black 1px;
}
th{
    border: solid black 1px;
    font-weight: 400;
}
.display-cel{
    display: none;
}
@media(max-width:1000px){
    .display-cel{
        display: block;
    }
}
table{
    overflow-x: scroll;
    margin: 10px;
    width: 1000px;
    text-align: center;
}
.una:hover {
    width: 80%;
}

.container-historia {
    margin-top: 10px;
    overflow-x: hidden;
}
.container-historia h2 {
    margin-bottom: 10px;
    font-weight: 400;
}

.container-historia .col-lg-7 {
    text-align: end;
}

.container-historia .col-lg-7 img {
    width: 100%;
    transition: 1s;
}
.container-historia .col-lg-5{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
}
.container-historia .col-lg-5 h2{
    font-size: 50px;
}

@media(max-width:1024px) {
    .container-historia {
        margin-bottom: 40px;
    }

    .container-historia .col-lg-5 h2 {
        text-align: center;
    }

    .container-historia .col-lg-5 p {
        text-align: center;
    }

    .container-historia .col-lg-5 {
        text-align: center;
    }
}

.h2-bienvenida {
    color: white;
    font-family: 'Lexend Deca', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
    align-self: center;
    height: 100%;
    font-size: 30px;
    text-shadow: black 0px 0px 3px;
}
.container-2 {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
.container-2 p{
    text-align: center;
}
.container-2 form{
    border: 3px solid rgb(155, 155, 155);
    border-radius: 15px;
    padding: 10px;
    background-color: #EEEFE1;
}
.container-2 form p{
    text-align: center;
    text-decoration: none;
    font-style: normal;
    margin-bottom: 0px;
    width: 85%;
    margin: 0 auto;
    margin-top: 20px;
}
.container-2 form p:last-of-type{
    font-size: 20px;
    max-width: 800px;
    margin: 50px auto 30px auto;
}
.container-2 form p:last-of-type span{
    font-weight: bold;
}
.container-2 form input, .container-2 form textarea, .container-2 form div button{
    all: unset;
    max-width: 800px;
    width: 90%;
    display: flex;
    margin: 0 auto;
    padding: 10px 0px 10px 5px;
    border: 3px solid rgb(184, 184, 184);
    font-style: normal;
    background-color: white;
}
.container-2 form textarea{
    max-height: 37.5px;
}
.container-2 form div button, a{
    max-width: 200px;
    display: flex;
    margin: 0 auto;
}
.container-2 form div button{
    margin-top: 20px;
    border: 2px solid green;
    color: green;
    border-radius: 5px;
    transition: .3s;
}
.container-2 form div button:hover{
    background-color: green;
    color: white;
}
.container-2 
h2 {
    text-align: center;
    color: #333;
}

label {
    font-weight: bold;
}

.form-group {
    margin-bottom: 20px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

input[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 3px;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}
.header-inscripcion{
    min-height: 0vh;
}
.header-inscripcion .carousel{
    height: 400px;

}

.container-2{
    font-weight: 100;
    font-size: 25px;
}
.titulo-historia h2{
    margin-top: 10px;
}
.planes-de-estudio{
    margin-top: 40px;
}
.plan-estudio{
    background-color: #00152b;
    color: white;
    max-width: 400px;
    padding: 10px;
    border-radius: 30px;
    font-size: 36px;
    margin: 0 auto;
}
.plan-estudio::after, .plan-estudio::before{
    content: '';
    position: absolute;
    max-width: 500px;
    width: 100%;
    height: 3px;
    background-color: #00152b;
    top: 0.85em;
}
.plan-estudio::before{
    left: -390px;
}
.plan-estudio::after{
    right: -390px;
}
.tarjeta-plan{
    background-color: #00152b;
    margin: 10px auto;
    border-radius: 20px;
    max-width: 300px;
    padding: 10px;
}
.tarjeta-plan a{
    color: white;
    font-size: 28px;
    margin-bottom: 20px;
}
.tarjeta-plan p{
    margin-top: 10px;
    color: rgb(112, 112, 112);
    font-size: 20px;
}
.planes-de-estudio .row .informacion{
    font-size: 25px;
    margin: 20px 0;
}
.texto-footer a{
    text-decoration: none;
    margin-left: 10px;
    margin-top: 6px;
}
.texto-footer{
    flex-wrap: wrap;
}